html {
    font-family: 'Source Code Pro';
    max-width: 100%;
    overflow-x: hidden;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 4px;
}
a, a:visited {color:white;}
a:hover {
    text-shadow: 1px 1px 3px black;
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 25px;
}

body {
    background-color: rgb(255, 255, 255);
}

.icons {
    background-color: black;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 25px;
    width:60%;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.icons2 {
    background-color: rgb(255, 255, 255);
    color: black;
    border: solid 2px black;
    border-radius: 25px;
    width:60%;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
i {
    font-size: larger;
}

.navCorner {
    position: fixed;
    top:0;
    left:100vw;
    z-index: 1;
    background-color: black;
}

/* CLASS ELEMENTS */
.panel {
    text-align: center;
}

.hero {
    height: 100vh;
    width: 100vw;
}

.contentMiddle {
    margin-top: 20vh;
    padding: 5%;
}
.contentMidBlock {
    display: block;
    margin: 15%;
    
}
.contentTop {
    margin-top: 14vh;
}

/* PAGES */

.pg1 {
    background: url(../img/foggy2.jpg) no-repeat bottom left;
    background-size: cover;
    
    position: absolute;
    left:0;
    top:0;
    text-shadow: 0px 0px 8px black;
    color: white;
    text-align: center;
}
.pg2 {
    background-image: url(../img/tower1.jpg);
    background-size: cover;
    position: absolute;
    height: 200vh;
    top:0vh;
    left: 100vw;
    color:white;
}
.panel-heading {
    background-color:rgba(0, 0, 0, 0.479);
    
}

.pg3 {
    background-image: url(../img/light1.jpg);
    background-size: cover;
    position: absolute;
    top:100vh;
    color:white;
}

.pg4 {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    position: absolute;
    top:200vh;
    color:rgb(255, 255, 255);
}